*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container{
    width: 100%;
    
    
}



.drop-ul{
    background-color: rgb(12, 110, 61);
    color: black;
    border: 1px solid black;
}

.bar{
    scale: 20%;
    opacity: 0;
    visibility: hidden;
}

.background-1{
    z-index: -300;
    margin-top: 0em;
    display: block;
}
.drop{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    background-color: rgb(3, 102, 52);
    position: relative;
    top: -0.5em;
    left:54%;
    list-style: none;
    visibility: hidden;
    margin-top: 0em;
    opacity: 0;
    
}

.drop li:hover{
    border-bottom: 2px solid white;
    transition: .5s;
    animation: grow-2 .5s ease-in 0s 1 alternate both;
}
.h1-b{
    display: flex;
    justify-content: center;
}

.h1-b h1{
    width: 500px;
    border-radius: 10px;
}
.list-3{
    padding-left: 1em;
    user-select: none;
}

header ul li :hover{
    border-bottom: 2px solid white;
    transition: .5s;
    animation: grow .5s ease-in 0s 1 alternate both;
    
}

@keyframes grow{
    10%{
        padding-right: none;
    }
    20%{
        padding-right: 2em;
    }
}

@keyframes grow-2{
    10%{
        border: 1px solid white;
    }
    20%{
        
    }
}



.drop a {
    text-decoration: none;
    color: aliceblue;
}

.header-ul{
    display: flex;
    justify-content:space-around;
    width: 100%;
    color: aliceblue;
}

.header-list{
    list-style: none;
    
}



 header{
    height: 60px;
    background-color: rgb(3, 102, 52);
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    color: aliceblue;
    border: 1px solid black;
}

.present{
    color:rgb(255,255,15);
    width: 500px;
    height: 60px;
    background-color: rgb(247,0,6);
    display: grid;
    place-items: center;
    letter-spacing: 20px;
    z-index: 300;
    font-size: 2.3em;
    border-radius: 20px;
}

.flyer{
    width: 80%;
    margin-top: 3em;
}

.presents{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
}



.logo-d{
    width: 90%;
    margin: 0 auto;
    height: 120px;
    background: 
    linear-gradient(transparent,transparent) padding-box,
    linear-gradient(60deg,#fff, rgb(12, 110, 61)) border-box;
    color:aliceblue;
    border: 15px solid transparent;
    border-radius: 10px;
}

.logo-d-2{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 102, 52);
    text-align: center;
    display: grid;
    place-items: center;
}


.header-link{
    text-decoration: none;
    color: aliceblue;
}

.landing-img{
    width: 100%;
}

.pp{
    margin:1em 0em;
   
} 

.ul-2{
    line-height: 1.3em;
    width: 70%;
    margin: 0 auto;
}

.b-2-d{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    margin-top:-13em;
}

.b-2-a{
    text-decoration: none;
    color: rgb(19, 157,9);
    font-weight: bolder;
}

.sub-themes{
    margin-left: -5em;
    width: 900px;
    padding: 1em;
    display: block;
    width: 100%;
    scale: 60%;
    font-size: 1.13em;
    background:green;
    margin-top: 0em;
    border-radius: 20px;

}

.s-t-ul{
    line-height: 26px;
    margin-left: 1em;
    color: aliceblue;
}
.b-2-d .sub-themes h1{
    color: rgb(245,240,18);
}

.background-3{
    margin-top: -12em;
}

.card-flex .img-card  p{
    color: green;
}

.Guide{
    border: 1px solid black;
    scale: 117%;
    margin-left: -120px;
    margin-top: 0em;
    border-radius: 20px;
}
.shift{
    margin-left: 1.5em;
}

.background-4 .text-1 h3{
    text-transform: uppercase;
    
}
.g-btn{
    width: 300px;
    height: 60px;
    background: linear-gradient(rgb(116,30,33), rgb(230,40,85));
    border: 2px solid rgb(2, 116, 190);
    font-family:Arial, Helvetica, sans-serif;
    color: azure;
    margin-top: 50px;
   cursor: pointer;
   border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-1{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.b-3-p{
    margin-left: 4.4em;
    margin-top:1em;
    line-height: 25px;
   
}

.size{
    width: 180px;
    height: 200px;
}

.img-card{
    width: 180px;
    margin-left: 1.3em;
    padding: 1em;
}

.card-p{
    padding-top: 0.7em;
    color: rgb(218,16,16);
    font-weight: bolder;
    text-align: center;
}

.card-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 1em;
}


.background-2{
    margin-top: 0.1em;
    
}

.f-g-r{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.green-reg{
    border: 2px solid black;
    width: 700px ;
    background: linear-gradient(rgb(2, 160, 86) 40%, rgb(52,62,52) );
    color: aliceblue;
    scale: 85%;
    height: 570px;
    border-radius: 20px;
}


.font{
    font-size: 1em;
}

.venue-1{
    background: linear-gradient(rgb(228,51,56), rgb(47,65,48));
    width: 100%;
    text-align: center;
    color: aliceblue;
    height: 100px;
    display: grid;
    place-items: center;
}

.h2-d  h2{
    font-size: 1.1em;
    color:yellow;
}

.background-4{
    display: flex;
    justify-content: space-around;
}

.text-1{
    width: 500px;
}

.text-2{
    width: 500px;
}

.s-p{
    margin-top: 2em;
}

.t-1-t{
    margin-top:2em ;
    line-height: 25px;
    font-size: 0.9em;
}

.t-2-t{
    margin-top: 2em;
    line-height: 25px;
    font-size: 0.8em;
}

.end-a{
    text-decoration: none;
    color: red;
}

.link-div h3{
    margin-top: 1em;
    margin-left: 3.3em;
}

.link-div{
    display: flex;
    margin-top: 2em;
}

.ul-t{
    margin-top: 1em;
    line-height: 25px;
}

.background-6{
    background-color: rgb(245,245,245);
    width: 100%;
    height: 800px;  
    margin-top: 2em; 
}

.img-f-5{
    width: 300px;
    height: 240px;
    margin-left: -4.8em;
}

.img-f-6{
    scale:80%;
}

.img-r-1{
    display: flex;
    padding-top: 3em;
    justify-content: space-between;
    width: 75%;
}

.img-r-2{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.f-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-btn{
    border-left:1px solid rgb(234,234,234) ;
    border-right:1px solid rgb(234,234,234) ;
    border-bottom:1px solid rgb(234,234,234) ;
    height: 40px;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 2em 0;
}

.background-7{
    background-color: rgb(27,147,87);
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items: center;
}

.f-div{
    color: white;
    transition: 1s;
}



.f-div:hover{
    text-decoration: none;
    color: rgb(245,240,18);
    transition:.5s;
}

footer{
    height: 60px;
    display: grid;
    place-items: center;
}

.icons{
    display:flex;
    justify-content: space-between;
    width: 250px;
}

.icons div{
    background-color: white;
    width:120px;
    border-radius: 50%;
    height:50px;
    margin-left: 10px;
    display: grid;
    place-items: center;
}

.icons div img{
    scale: 50%;
}

@media (max-width:1150px){

    .b-2-d{
        flex-direction: column;
        align-items: center;
        display: block;
        justify-content: space-between;
        height: 2000px;
    } 

    .text-2 ol li{
        font-size: 13px;
        width: 400px;
        padding-left: 20px;
    }

    
    .ggg{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border: 2px solid black;
    }

    header{
        height: 100px;
    }

    .header-ul{
        flex-wrap: wrap;
    }

    .background-1{
        margin-top: 0em;
    }
    .drop{
        width:200px ;
        left: 0;
        visibility: hidden;
        opacity: 0;
        height:300px ;
    }

    .drop li{
        padding: 0.4em;
    }

    .header-ul li{
        margin: 1em;
    }
    

    .bar{
        visibility: visible;
        opacity: 1;
    }



    .img-r-1,.img-r-2{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    

    .h1-b{
        font-size: 0.8em;
    }

    .sub-themes,.green-reg, .Guide{
        width: 100%;
        
    }

    .background-4{
        flex-direction: column;
        
    }

    .text-1, .text-2{
        width: 100%;
    }
   
    .text-2{
        margin-top: 3em;
    }

    

    .sub-themes{
        padding: 0;
        margin-left: 0;
        margin-top: 7em;
        transform: scale(160%, 120%);
    }  

    .Guide{
        margin-left: 0px;
        font-size: 1.15em;
        width: 100%;
        scale:95% ;
        margin-top: -5em;
    }

    .g-btn{
        border-radius: 20px;
    }

    .background-3{
        margin-top: -20em;
    }

    .green-reg{
        width: 100%;
        scale: 100%;
        transform: scaleY(90%);
    }
}

@media (max-width:670px){
    .background-3   {
        margin-top: -10em;
    }

    .header-ul li{
        text-decoration: underline;
    }
    header{
        height: 200px;
    }

    .link-div{
        flex-direction: column;
        margin-left: 0;
        font-size: 0.8em;
    }

    header{
        font-size: 0.85em;
    }

    .background-7{
        flex-wrap: wrap;
        font-size: 0.7em;
        height: 600px;
        flex-direction: column;
    }

    .background-7 .icons div {
        width: 20px;
        height: 20px;
    }

    footer{
        font-size: 0.7em;
    }

    .background-7 div{
        display: block;
    }

    .background-7 .icons div a img{
        width: 20px;
    }

    .icons{
        width: 70px;
        
    }
}

@media (max-width:500px){
    .background-3{
        margin-top: 0em;
    }



    .header-ul li{
        text-decoration: underline;
    }
}



@media (max-width:440px){
    .background-3{
        margin-top: 20em;
    }

    
}

@media (max-width:381px){
    .background-3{
        margin-top: 30em;
    }
}

@media (max-width:347px){
    .background-3{
        margin-top: 20em;
    }
}


@media (max-width:320px){
    .sub-themes{
        padding: 0;
        margin-left: 0;
        margin-top: -11em;
        transform: scale(160%, 120%);
    }  

    header{
        font-size: 0.85em;
    }

    .header-ul li{
        text-decoration: underline;
    }
    .Guide{
        margin-left: 0px;
        font-size: 1.15em;
        width: 100%;
        scale:95% ;
        margin-top: -12em;
    }

    .background-3{
        margin-top: 50em;
    }

    .g-btn{
        width: 263px;
    }

    .img-r-1,.img-r-2{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }

    .footer-btn{
        width: 200px;
    }

    .f-flex div div img{
        width: 100%;
    }

    .img-f-5{
        margin: 0 auto;
    }

    footer{
        font-size: 0.7em;
    }
}